{% extends 'minute.html'%}

{% block body %}

<div class="jumbotron text-center">
    <div class="pitch">
        <h1 class="one">ONE-MINUTE-PITCHING</h1>
        <p>An application that allows you to pitch your voice. Whether its a business planpitch, product promotion, presentation pitch and get it viewed by others</p>
        <a href="/register" class="btn btn-lg btn-success">GET PITCHED</a>
    </div>
    <br>
    <br>
    
    <!-- <h2 class="sample">SAMPLE PITCHES</h2>
    <div class="body">
        <div class="row">
            <h2>1-MIN-PITCH</h2>
            <p>Introduce yourself, mention your title and team role</p>
            <p>uploaded by: <span>BETH NDUTA</span></p>
        </div>
        <div class="row">
            <h2>Business pitch</h2>
            <p>Empowering small and medium business enterprises with the power of digital technologies</p>
            <p>uploaded by: <span>KIARIE</span></p>
        </div>
        <div class="row">
            <h2>Elevator Pitch</h2>
            <p>we help our customers solve problems by providing better solutions for them</p>
            <p>uploaded by: <span>NDUTS</span></p>
        </div>
    </div> -->
    
    <h2 class="sample">PITCHES FROM DIFFERENT USERS</h2>
    <div class="body">
        <div class="grid-container">
            <h2>CATEGORY:<span>Business pitches</span></h2>
            <p>Introduce yourself, mention your title and team role</p>
            <p>uploaded by: </p>
            <div>
                <a href="/register" class="btn btn-lg btn-secondary">COMMENT</a>
                <button class="btn btn-lg btn-success" type="button"><i onclick="myFunction(this)" class="fa fa-thumbs-up" style="font-size: 1.3em">0</i>UPVOTE</button>
                <button class="btn btn-lg btn-danger" type="button"><i onclick="myFunction(this)" class="fa fa-thumbs-down" style="font-size: 1.3em">0</i>DOWNVOTE</button>
            </div>
        </div>
        <div class="grid-container">
            <h2>CATEGORY: <span>Elevator pitches</span></h2>
            <p>Empowering small and medium business enterprises with the power of digital technologies</p>
            <p>uploaded by: </p>
            <div>
                <a href="/register" class="btn btn-lg btn-secondary">COMMENT</a>
                <button class="btn btn-lg btn-success" type="button"><i onclick="myFunction(this)" class="fa fa-thumbs-up" style="font-size: 1.3em">0</i>UPVOTE</button>
                <button class="btn btn-lg btn-danger" type="button"><i onclick="myFunction(this)" class="fa fa-thumbs-down" style="font-size: 1.3em">0</i>DOWNVOTE</button>
        </div>
        </div>
    </div>
</div>
{% endblock %}